<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="{% static "images/logoimg.jpeg" %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Simulator</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <!-- CSS Files -->
  <link href="{% static "css/table.css" %}" rel="stylesheet" />
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
  <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet" />



  <style>
  .tableWrap {
  height: 200px;
  /* border: 2px solid black; */
  overflow: auto;
  height: 550px;
}

thead tr th {
  position: sticky;
  top: 0;
  height: 60px;
    font-size: 18px;
}

table {
 border-collapse: collapse;
}


th {
  padding: 16px;
  padding-left: 15px;
  border-left: 1px dotted rgba(200, 209, 224, 0.6);
  border-bottom: 1px solid #e8e8e8;
  background: #ffc491;
  text-align: left;
  /* box-shadow: 0px 0px 0 2px #e8e8e8; */
}

table {
  width: 100%;
  font-family: sans-serif;
}
table td {
  padding: 16px;
}
tbody tr {
  /* border-bottom: 2px solid #e8e8e8; */
}
thead {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
tbody tr:hover {
  background: #EFEBEB;
}
      </style>
</head>

<body>
  <div class="wrapper">
    <div class="sidebar" >

      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="" class="simple-text logo-mini">
            <div class="logo-img">
              <img src="{% static "images/logoimg.jpeg" %}"/>
            </div>
          </a>
          <a href="" class="simple-text logo-normal">
            CEA SIMULATOR
          </a>
        </div>
        <div class="user">
          <div class="photo">
            <img src="{% static "images/s.jpeg" %}" />
          </div>
          <div class="info ">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>Simulator
                <b class="caret"></b>
              </span>
            </a>
            <div class="collapse" id="collapseExample">
              <ul class="nav">
                <li>
                    <a class="profile-dropdown" href="#pablo">
                        <span class="sidebar-mini">MP</span>
                        <span class="sidebar-normal">My Profile</span>
                    </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url "mainpage" %}">
              <i class="fa fa-fw fa-home"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url "mappage" %}">
              <i class="fa fa-toggle-right"></i>
              <p>CROP GROWTH</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url "energymodel" %}">
              <i class="fa fa-line-chart"></i>
              <p>ENERGY MODEL</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url "energysupply" %}">
              <i class="fa fa-industry"></i>
              <p>ENERGY SUPPLY</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon d-none d-lg-block">
                <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                <i class="fa fa-navicon visible-on-sidebar-mini"></i>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo"> TOMSIM</a>
          </div>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav navbar-nav mr-auto">
              <form class="navbar-form navbar-left navbar-search-form" role="search">
                <div class="input-group">
                  <i class="fa fa-search"></i>
                  <input type="text" value="" class="form-control" placeholder="Search...">
                </div>
              </form>
            </ul>
            <ul class="navbar-nav">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <i class="nc-icon nc-planet"></i>
                </a>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" href="#">Create New Post</a>
                  <a class="dropdown-item" href="#">Manage Something</a>
                  <a class="dropdown-item" href="#">Do Nothing</a>
                  <a class="dropdown-item" href="#">Submit to live</a>
                  <li class="divider"></li>
                  <a class="dropdown-item" href="#">Another action</a>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <i class="nc-icon nc-bell-55"></i>
                  <span class="notification">5</span>
                  <span class="d-lg-none">Notification</span>
                </a>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" href="#">Notification 1</a>
                  <a class="dropdown-item" href="#">Notification 2</a>
                  <a class="dropdown-item" href="#">Notification 3</a>
                  <a class="dropdown-item" href="#">Notification 4</a>
                  <a class="dropdown-item" href="#">Notification 5</a>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bullet-list-67"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">
                    <i class="nc-icon nc-email-85"></i> Messages
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="nc-icon nc-umbrella-13"></i> Help Center
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="nc-icon nc-settings-90"></i> Settings
                  </a>
                  <div class="divider"></div>
                  <a class="dropdown-item" href="#">
                    <i class="nc-icon nc-lock-circle-open"></i> Lock Screen
                  </a>
                  <a href="#" class="dropdown-item text-danger">
                    <i class="nc-icon nc-button-power"></i> Log out
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="header">
                  <h4 class="card-title">Global Radiation</h4>
                  <p class="card-category">Average Radiation for plant growth</p>
                </div>
                <div class="content table-responsive table-full-width " id="datatable">
                  <!-- <div class="tableWrap">
                  </div> -->
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3" id="enddata">

              </div> -->
            </div>
          </div>
          <footer class="footer">
            <div class="container">
              <nav>
                <p class="copyright text-center">
                  ©
                  <!-- <script>
                    document.write(new Date().getFullYear())
                  </script> -->
                  <a>TOMSIM Model</a>, developed by Ep Heuvelink
                  </p>
              </nav>
            </div>
          </footer>
        </div>
      </div>
<!-- <iframe src="http://localhost:3000/d/iLYXNoRMk/query1?orgId=1" id="graph"></iframe> -->
<!-- <button class="btn btn-primary btn-wd" style="display: block; margin: 0 auto;" onclick="shoot()">Run Simulation</button> -->
<div id="iframeHolder"></div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--   Core JS Files   -->
<!--  -->
<!-- <script type="text/javascript" src="{%static "js/iframe.js" %}" ></script> -->
<!-- <script type="module" src="{%static "js/test.js" %}" ></script> -->

<script type="text/javascript">
var str1 = '{{username}}';
var str2 = '_growth.csv';
var filename = str1.concat(str2);
$(document).ready(function(){
  $.ajax({
    url:"{%static "" %}"+filename+"",
    dataType:"text",
    success:function(data)
    {
      var radiation_data = data.split(/\r?\n|\r/);
      var table_data = '<div class="tableWrap"><table><thead><tr><th>Day</th><th>Average Radiation</th><th>Temperature</th><th>CarbonDioxide</th></tr></thead><tbody >';
      // var i=0;
      for(var count = 0; count<radiation_data.length; count++)
      {
        var cell_data = radiation_data[count].split(",");
        table_data += '<tr>';

        for(var cell_count=0; cell_count<cell_data.length-19; cell_count++)
        {
          if(count !== 0)
          {
            table_data += '<td>'+cell_data[cell_count]+'</td>';
          }
        }
        table_data += '</tr>';
      }
      table_data += '</tbody></table></div>';
      $('#datatable').html(table_data);

     }
  });
});
// $(document).ready(function(){
//   $.ajax({
//     url:"{%static "" %}"+filename+"",
//     dataType:"text",
//     success:function(data)
//     {
//       var radiation_data = data.split(/\r?\n|\r/);
//       var end_data='';
//       for(var count = radiation_data.length-4; count<radiation_data.length-1; count++){
//         var cell_data = radiation_data[count].split(",");
//         var cell_count=0;
//           end_data += '<span><input type="textarea" placeholder="'+cell_data[cell_count]+' : '+cell_data[cell_count+1]+'" readonly></span>'
//
//      }
//      // console.log(end_data);
//      $('#enddata').html(end_data);
//    }
//   });
// });
</script>


</html>
